{% extends "blog/base.html" %}
{% block content %}
<link href="https://fonts.googleapis.com/css?family=Quicksand:300,500" rel="stylesheet">
<h1 style="font-family: 'Quicksand', sans-serif; text-align: center">About Me<br>
<div class="container">
    <div>
    <img style="height:250px; width:250px; margin-left:" class="rounded-circle article-img" src="/media/Montgomery-High-School-Montgomery-NJ.jpg"><br>Vibhu Agarwal
    </div>
</h1>
<h5 style="margin-top:10px; color: #333333; border: 2px round #333333; padding: 10px; border-radius: 3px; background-color: #e3e3e3e3; text-align: center">
    My name is Vibhu, and I am a senior at Montgomery High School(pictured above). This website is the host for a project I am building in a class known as iSTEMi. The class focuses on building research projects toward STEM fields. Due to my interest in helping others and my passion fo coding, I have decided to create a posture correction machine learning algorithm. I want to research this topic as it would not only help me, but many others suffering from postural defects that my program will aim to diagnose and fix.
</h5>

{% endblock content %}
